rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Match only the 'scams' collection
    match /scams/{documentId}/comments/{commentId} {
    	allow read: if true;
      allow create, update: if request.auth != null;
      allow delete: if request.auth != null && request.resource.data.uid == request.auth.uid;
    }
    match /scams/{documentId} {
      // Allow read for everyone
      allow read: if true;

      // Allow create and update if the user is authenticated
      allow create, update: if request.auth != null;

      // Allow delete only if the uid field in the document matches the user's uid
      allow delete: if request.auth != null && request.resource.data.uid == request.auth.uid;
    }
    match /users/{documentId} {
      // Allow read for everyone
      allow read, write: if true;
    }
  }
}
